$bg-color:rgba(0,0,0,.8);


.popupContainer{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-color: $bg-color;
    z-index: 100;
    .popupInner{
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: fit-content;
        svg{
            margin-left:20px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}